:root {
    /* PrimaryColors */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: rgb(251, 96, 135);

    /* NeutralColors */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark--blue: hsl(234, 17%, 12%);
}

/* Main */

/* Tags */
body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 14px;

    color: var(--white);
    background: var(--very-dark--blue);
    background-image: url(images/bg-stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    margin: 0;
    height: 100vh;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    -ms-text-overflow: hidden;
}
main {
    display: grid;
    place-items: center;
}
h1,
p {
    letter-spacing: 8px;
}
h1 {
    font-size: 1.5rem;
    margin: 0 35px;
}
p {
    font-size: 0.65rem;
    color: var(--grayish-blue);
}
p:nth-child(n -1) {
    margin-left: 7px;
}
img {
    width: 100%;
}
/* Classes */
.time-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.clock-bg > div {
    position: relative;

    width: 100px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 3px;

    background: var(--dark-desaturated-blue);
}

.clock-bg > div:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 2.5px;
    left: 2.5px;
    bottom: -5px;
    background: var(--dark-desaturated-blue);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    box-shadow: 0 0 1.75px 0px var(--very-dark--blue) inset;
}
.clock-bg > div:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 2.5px;
    left: 2.5px;
    top: -5px;
    background: var(--dark-desaturated-blue);
    box-shadow: 0 0 1.75px 0px var(--very-dark--blue) inset;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}
.clock-bg span {
    position: absolute;
    background: #fff;
}

.upper {
    display: grid;
    place-content: center;
    gap: 100px;
    margin-bottom: 150px;
}
/* IDS */
#btn-group {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    gap: 35px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 1;
    max-width: 250px;
    margin: auto;
}
#btn-group a img {
    height: 35px;
    width: 35px;
}
#btn-group a img:hover {
    filter: invert(50%) sepia(69%) saturate(1545%) hue-rotate(310deg)
        brightness(101%) contrast(97%);
}

#hills {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
}

/* Queries */
@media (min-width: 700px) {
    body {
        background-size: contain;
    }
    #hills {
        min-height: 200px;
        max-height: 20vh;
    }
}
@media (max-width: 1000px) {
    #hills {
        max-height: 250px;
        width: auto;

        transform: translateX(-100px);
    }
}

/* FrontEnd preset */
.attribution {
    position: absolute;

    writing-mode: vertical-lr;
    top: 0;
    bottom: 0;
    left: 5px;

    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
